# A generated secret for Payload
PAYLOAD_SECRET=

# Site URL for redirects and links
SITE_URL=http://localhost:3000

# Logging level for Payload (e.g., 'debug', 'info', 'warn', 'error')
PAYLOAD_LOG_LEVEL=warn

# Authorize.Net payment gateway credentials
AUTHNET_API_LOGIN_ID=
AUTHNET_TRANSACTION_KEY=
