# A generated secret for Payload
PAYLOAD_SECRET=

# Site URL for redirects and links
SITE_URL=http://localhost:3000

# Authorize.Net payment gateway credentials
AUTHNET_API_LOGIN_ID=
AUTHNET_TRANSACTION_KEY=
