{
  "$schema": "node_modules/wrangler/config-schema.json",
  "main": ".open-next/worker.js",
  "name": "ccm-website-payload",
  "account_id": "<CLOUDFLARE_ACCOUNT_ID>",
  "compatibility_date": "2025-08-15",
  "compatibility_flags": ["nodejs_compat", "global_fetch_strictly_public"],
  "assets": {
    "directory": ".open-next/assets",
    "binding": "ASSETS"
  },
  "workers_dev": false,
  "vars": {
    "SITE_URL": "<SITE_URL>",
    "PAYLOAD_LOG_LEVEL": "error"
  },
  "d1_databases": [
    {
      "binding": "D1",
      "database_id": "<D1_DATABASE_ID>",
      "remote": true
    }
  ],
  "r2_buckets": [
    {
      "binding": "R2",
      "bucket_name": "<R2_BUCKET_NAME>",
      "remote": true
    }
  ],
  "observability": {
    "enabled": false,
    "head_sampling_rate": 1,
    "logs": {
      "enabled": false,
      "head_sampling_rate": 1,
      "persist": true,
      "invocation_logs": false
    },
    "traces": {
      "enabled": false,
      "persist": true,
      "head_sampling_rate": 1
    }
  }
}
